<a href="https://colab.research.google.com/github/AbdullahAlNoman2144/ML-Semester1-Course/blob/main/Function_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Function Introduction

In [ ]:
def greet(a , b):
  a = a**2
  b = b**2
  return a+b
sum = greet(10,20)
print(sum)

500

## Variabl size Argument

In [ ]:
def Squarer_addition(*args):
  #print(args)
  sum = 0
  for i in args:
    i = i**2
    sum = sum + i
  return sum



ans = Squarer_addition(1,2,3,4,5)
print(ans)

55

##Keyword Argument

In [ ]:
def student(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} = {value}")
  #print(kwargs)

student(name = "Noman", clas = 10, roll = 30, marks = 30)

name = Noman
clas = 10
roll = 30
marks = 30

In [ ]:
def give_prediction():
  a = [10,20,30]
  b = [30,40,50]
  return a,b
x,y = give_prediction()
print(type(give_prediction()))
print(x)
print(y)

<class 'tuple'>
[10, 20, 30]
[30, 40, 50]

##Iterator

In [ ]:
s = {10,3,5,64,4}

s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))


for i in s:
  print(i)

64
3
4
5
10
64
3
4
5
10

In [ ]:
s = [2,3,5,6]
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

print("Using Loop")

for i in  s:
  print(i)

2
3
5
6
Using Loop
2
3
5
6

In [ ]:
s = {"name":"Noman", "Roll":212,"Cgpa":3.08, "Course":{"DBMS":"Daabase Management system"}}
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

name
Roll
Cgpa
Course
name
Roll
Cgpa
Course

##Key r value eksathe print korte hole

In [ ]:
s = {"name":"Noman", "Roll":212,"Cgpa":3.08, "Course":{"DBMS":"Daabase Management system"}}
for key,value in s.items():
  print(f"{key} = {value}")

name = Noman
Roll = 212
Cgpa = 3.08
Course = {'DBMS': 'Daabase Management system'}

In [ ]:
lst = [x for x in range(500) ]

def data_loader(chunk_size,lst):
  for i in range(0,len(lst),chunk_size):
    yield lst[i:i+chunk_size]

x = data_loader(5,lst)

#print(type(x))
print(next(x))
print(next(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

##Lambda function