<a href="https://colab.research.google.com/github/AbdullahAlNoman2144/ML-Semester1-Course/blob/main/Phitron_Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = [10, 20, 30, 40, 50, 60]

In [ ]:
print(lst[::3])
print(lst[-2])

[10, 40]
50

print(lst[::3]): This uses list slicing with a step of 3. It starts from the beginning of the list (lst), takes every 3rd element, and goes to the end. So, it prints the elements at index 0 (10) and index 3 (40).
print(lst[-2]): This accesses the element at index -2, which in Python refers to the second-to-last element of the list lst. In this case, the element is 50.

In [ ]:
samples = [1,2,3, '','Noman',{},{'Name':'Rony'},[],None]
for item in samples:
  if item:
    print(repr(item),"==>Truthy")
  else:
    print(repr(item),"==>Falsy")

1 ==>Truthy
2 ==>Truthy
3 ==>Truthy
'' ==>Falsy
'Noman' ==>Truthy
{} ==>Falsy
{'Name': 'Rony'} ==>Truthy
[] ==>Falsy
None ==>Falsy

In [ ]:
Data = {
    "User":{
        "name":"Noman",
        "age":26,
        "contact": {
            "email":"noman@gmail.com",
            "phone":"123456789"
        }
        },
        "Items":[
            {"Laptop":"Acer",
             "price":232333
             },
            {"Mobile":"Samsung",
             "price":232333
             }
      ]
 }

In [ ]:
print(Data["User"]["name"])
print(Data["User"]["contact"]["email"])
print(Data["Items"][0]["Laptop"])

Noman
noman@gmail.com
Acer

In [ ]:
for i in range(0,50):
  if i == 0:
    lebel = "zero"
  elif i % 2 == 0:
    lebel = "even:"
  else:
    lebel = "odd:"
  print(i,"==>",lebel)

0 ==> zero
1 ==> odd:
2 ==> even:
3 ==> odd:
4 ==> even:
5 ==> odd:
6 ==> even:
7 ==> odd:
8 ==> even:
9 ==> odd:
10 ==> even:
11 ==> odd:
12 ==> even:
13 ==> odd:
14 ==> even:
15 ==> odd:
16 ==> even:
17 ==> odd:
18 ==> even:
19 ==> odd:
20 ==> even:
21 ==> odd:
22 ==> even:
23 ==> odd:
24 ==> even:
25 ==> odd:
26 ==> even:
27 ==> odd:
28 ==> even:
29 ==> odd:
30 ==> even:
31 ==> odd:
32 ==> even:
33 ==> odd:
34 ==> even:
35 ==> odd:
36 ==> even:
37 ==> odd:
38 ==> even:
39 ==> odd:
40 ==> even:
41 ==> odd:
42 ==> even:
43 ==> odd:
44 ==> even:
45 ==> odd:
46 ==> even:
47 ==> odd:
48 ==> even:
49 ==> odd:

In [ ]:
temp = [30, 40, 35, 37,29]
fahren = [item*(9/5)+32 for item in temp] #List comprehension use kora hocche
print(fahren)

[86.0, 104.0, 95.0, 98.60000000000001, 84.2]

In [ ]:
temp = [30, 40, 35, 37,29]
fahren1 = [item*(9/5)+32 for item in temp if item % 2 == 0] #List comprehension use kora hocche
print(fahren1)

[86.0, 104.0]

In [ ]:
square = [x**2 for x in range(1,7)]
print(square)

[1, 4, 9, 16, 25, 36]

In [ ]:
tpl = (1, 2, 3, [4, 5])
tpl[3].append(6)
print(tpl)

(1, 2, 3, [4, 5, 6])

In [ ]:
for i in  range(3):
  for j in range(2):
    print(i,"==>",j)

0 ==> 0
0 ==> 1
1 ==> 0
1 ==> 1
2 ==> 0
2 ==> 1

In [ ]:
st = {1, 2, 2, 3, 'A'}
print(st)

{1, 2, 3, 'A'}

In [ ]:
s= [0, "Hello", [], None, [1]]
print([bool(x) for x in s])

[False, True, False, False, True]

In [ ]:
%%writefile main.cpp
#include <iostream>
#include <vector>
using namespace std;

// Merges two subarrays of arr[].
// First subarray is arr[left..mid]
// Second subarray is arr[mid+1..right]
void merge(vector<int>& arr, int left,
                     int mid, int right){

    int n1 = mid - left + 1;
    int n2 = right - mid;

    // Create temp vectors
    vector<int> L(n1), R(n2);

    // Copy data to temp vectors L[] and R[]
    for (int i = 0; i < n1; ++i)
        L[i] = arr[left + i];
    for (int j = 0; j < n2; j++)
        R[j] = arr[mid + 1 + j];

    int i = 0, j = 0;
    int k = left;

    // Merge the temp vectors back
    // into arr[left..right]
    while (i < n1 && j < n2) {
        if (L[i] <= R[j]) {
            arr[k] = L[i];
            i++;
        }
        else {
            arr[k] = R[j];
            j++;
        }
        k++;
    }

    // Copy the remaining elements of L[],
    // if there are any
    while (i < n1) {
        arr[k] = L[i];
        i++;
        k++;
    }

    // Copy the remaining elements of R[],
    // if there are any
    while (j < n2) {
        arr[k] = R[j];
        j++;
        k++;
    }
}

// begin is for left index and end is right index
// of the sub-array of arr to be sorted
void mergeSort(vector<int>& arr, int left, int right){

    if (left >= right)
        return;

    int mid = left + (right - left) / 2;
    mergeSort(arr, left, mid);
    mergeSort(arr, mid + 1, right);
    merge(arr, left, mid, right);
}

// Driver code
int main(){

    vector<int> arr = {38, 27, 43, 10, 44, 22, 69,33};
    int n = arr.size();

    mergeSort(arr, 0, n - 1);
    for (int i = 0; i < arr.size(); i++)
        cout << arr[i] << " ";
    cout << endl;

    return 0;
}

Overwriting main.cpp

To See the output we can use the below code of c++. Then it will run the code. And we can see the output

In [ ]:
!g++ main.cpp -o main
!./main

10 22 27 33 38 43 44 69

In [ ]:
eq = 10 + 10/5 + 5*2
print(eq)

22.0

In [ ]:
x = int(input())
y = int(input())

# lst_digit_x = x % 10
# lst_digit_y = y % 10

#print("Summation of last digit of X and Y is :",lst_digit_x + lst_digit_y)
print(x,y)

30
45
30 45

In [ ]:
inp = input()
numbers = inp.split()

print(numbers, type(numbers))

x = int(numbers[0])
y = int(numbers[1])

lst_digit_x = x % 10
lst_digit_y = y % 10

print("Summation of last digit of X and Y is :",lst_digit_x + lst_digit_y)

17 26
['17', '26'] <class 'list'>
Summation of last digit of X and Y is : 13

In [ ]:
x = 5
y = "5"
print(type(x), type(y))

<class 'int'> <class 'str'>

In [ ]:
print(7 // 2)

3

In [ ]:
num = float(input())
print(type(num))

33
<class 'float'>

In [ ]:
inp = input()
numbers = inp.split()
#print(numbers)
x = int(numbers[0])
y = int(numbers[1])
z = int(numbers[2])

min = z
max = z
if min > x:
  min = x
if min > y:
  min = y
if max < x:
  max = x
if max < y:
   max = y
print(min,max)

-1 -2 -3
-3 -1