<a href="https://colab.research.google.com/github/AbdullahAlNoman2144/ML-Semester1-Course/blob/main/Python_Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Odd Even Positive and Negative

In [ ]:
758n = int(input())

inp = input()
numbers = inp.split()
print(numbers)

23456
54656
['54656']

In [ ]:
n = int(input())
while n > 0:
  print(n % 10, end = ' ')
  n//=10

65765
5 6 7 5 6

In [ ]:
x = 5
if x > 3:
  print('A')
elif x > 1:
  print('B')
else:
  print('C')

A

In [ ]:
x = 0
while  x < 3:
  x += 1
  if x == 4:
     break
  print("Done")

Done
Done
Done

In [ ]:
for i in range (2):
  for j in range (3):
    if j == 1:
      break
    print(i,"==>",j)

0 ==> 0
1 ==> 0

In [ ]:
for i in range(3):
  if i == 1:
    break
  print(i)

0

In [ ]:
for i in range(5, 0, -1):
  if i % 2 == 0:
    continue
  if i == 3:
    break
  print(i)

5

In [ ]:
hi = "ifhfuhfdfjdfhn"
hello = hi.casefold()
print(hello)

ifhfuhfdfjdfhn

In [ ]:
even = []
for i in range(100):
  if i %2 == 0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### Uporer code ta ke List Comprehention er maddhome korte pari

In [ ]:
even = [i**2 for i in range(21) if i % 2 == 0]
print(even)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

###ðŸ§  List Comprehension à¦•à§€?

à¦à¦Ÿà¦¾ à¦¹à¦² à¦²à¦¿à¦¸à§à¦Ÿ à¦¤à§ˆà¦°à¦¿ à¦•à¦°à¦¾à¦° à¦¶à¦°à§à¦Ÿà¦•à¦¾à¦Ÿ à¦ªà¦¦à§à¦§à¦¤à¦¿, à¦¯à§‡à¦–à¦¾à¦¨à§‡ à¦à¦• à¦²à¦¾à¦‡à¦¨à§‡à¦‡ loop + condition à¦¬à§à¦¯à¦¬à¦¹à¦¾à¦° à¦•à¦°à¦¾ à¦¯à¦¾à§Ÿà¥¤

à¦¸à¦¾à¦§à¦¾à¦°à¦£ à¦«à¦°à§à¦®à§à¦¯à¦¾à¦Ÿ:

In [ ]:
# [new_item  for item in iterable  if condition]

In [ ]:
##Traditional Loop
numbers = []
for i in range(5):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4]

In [ ]:
numbers = [i for i in range(5)]
print(numbers)   # Output: [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

### With Condition (Filter using if)

In [ ]:
evens = [i+4 for i in range(10) if i % 2 == 0]
print(evens)   # Output: [0, 2, 4, 6, 8]

[4, 6, 8, 10, 12]

##With if-else

In [ ]:
labels = ["Even" if i % 2 == 0 else "Odd" for i in range(5)]
print(labels)   # Output: ['Even', 'Odd', 'Even', 'Odd', 'Even']

['Even', 'Odd', 'Even', 'Odd', 'Even']

###ðŸ— à§ªï¸âƒ£ Nested List Comprehension (Matrix)

In [ ]:
matrix = [[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
word = "Pythonista"
print(word[-4])

i

In [ ]:
word = "HelloWorld"
print(word[2:8:2])

loo

###â—Python DOES NOT count overlapping matches

"banana" à¦ à¦¦à§à¦‡à¦­à¦¾à¦¬à§‡ "ana" à¦¦à§‡à¦–à¦¾ à¦¯à¦¾à§Ÿ, à¦¯à§‡à¦®à¦¨:

ban **ana**

b **ana** n a (overlap)

à¦•à¦¿à¦¨à§à¦¤à§ Python overlap à¦§à¦°à¦¬à§‡ à¦¨à¦¾, à¦¤à¦¾à¦‡ à¦¶à§à¦§à§ à§§ à¦¬à¦¾à¦° à¦§à¦°à¦¬à§‡à¥¤

In [ ]:
word = "banana bandana"
print(word.count("ana"))

2

In [ ]:
nums = [2,4,6,8,10,12]
nums[2] = nums[2] * nums[0]
print(nums)

[2, 4, 12, 8, 10, 12]

In [ ]:
word = ['a','b','c','d','e']
print(word[1:4][::-2])

['d', 'b']

In [ ]:
stack = []
for i in range(1,4):
  stack.append(i)
stack.pop()
print(stack[-1])

2

In [ ]:
queue = [10,20,30,40]
queue.pop(1)
#print(queue)
queue.append(50)
queue.pop(0)
print(queue[0])

30

In [ ]:
brightness,threshold = input().split()
brightness = int(brightness)
threshold = int(threshold)
print(brightness,threshold)

if brightness >= threshold:
    print("ON")
else:
    print("OFF")

40 40
40 40
ON

###Touple index and count method

In [ ]:
tup = (2,3,4,6,8,10,309,44,4)
print(tup.index(10))
print(tup.count(4))

5
2

In [ ]:
s = {2,4,3,15,3,77,33,26}
print(s)
s.add(44)
print(s)

{33, 2, 3, 4, 26, 77, 15}
{33, 2, 3, 4, 26, 44, 77, 15}

### Important of set

In [ ]:
a = {2,3,2,6,3}
b = {4,7,3,2,6}
print(a.union(b))

{2, 3, 4, 6, 7}