<a href="https://colab.research.google.com/github/AbdullahAlNoman2144/ML-Semester1-Course/blob/main/Python_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Dictionaries

In [ ]:
dic = {}
print(type(dic))

<class 'dict'>

In [ ]:
dic = {"Course":"Phitron","age":30,"numbers":{20,30,0}}
print(type(dic),"==>",dic)

<class 'dict'> ==> {'Course': 'Phitron', 'age': 30, 'numbers': {0, 20, 30}}

In [ ]:
#Access
#dic_name[key]
print(dic["Course"])
print(dic.get("age"))

Phitron
30

### Exanple of Mutable dictionary

In [ ]:
dic["age"] = 26
print(dic)
keys = dic.keys()
print(keys)

{'Course': 'Phitron', 'age': 26, 'numbers': {0, 20, 30}, 'Name': 'Noman'}
dict_keys(['Course', 'age', 'numbers', 'Name'])

In [ ]:
dic["Name"] = "Noman"

{'Course': 'Phitron', 'age': 26, 'numbers': {0, 20, 30}, 'Name': 'Noman'}

In [ ]:
values = dic.values()
print(values)

dict_values(['Phitron', 26, {0, 20, 30}, 'Noman'])

In [ ]:
items = dic.items()
print(items)

dict_items([('Course', 'Phitron'), ('age', 26), ('numbers', {0, 20, 30}), ('Name', 'Noman')])

In [ ]:
for key,value in dic.items():
  print(keys,values)

dict_keys(['Course', 'age', 'numbers', 'Name']) dict_values(['Phitron', 26, {0, 20, 30}, 'Noman'])
dict_keys(['Course', 'age', 'numbers', 'Name']) dict_values(['Phitron', 26, {0, 20, 30}, 'Noman'])
dict_keys(['Course', 'age', 'numbers', 'Name']) dict_values(['Phitron', 26, {0, 20, 30}, 'Noman'])
dict_keys(['Course', 'age', 'numbers', 'Name']) dict_values(['Phitron', 26, {0, 20, 30}, 'Noman'])